@import '~config';

.login {
  display: flex;
  justify-content: center;

  &__form {
    background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
    border: 1px solid #D8D8D8;

    &-header {
      display: flex;
      justify-content: space-between;
      margin: 19px 24px 0 28px;

      &__logo {
        display: inline-block;
        width: 153px;
        height: 58px;
      }

      &__menu {
        display: inline-block;
        width: 22px;
        height: 17px;
        margin-top: 9px;
      }
    }
  }
}
