@import '~config';

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  outline: 0;
  border: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.aside {
  width: 18.4%;
  height: 100%;
  background-color: #5CA0D7;
  color: #FFF;
  padding: 8px 16px;
  box-shadow: inset -6px 0px 0px 0px rgba(256,256,256,0.35);

  &__item {
    margin-bottom: 28px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #FFF;
      margin-right: 10px;
      padding-right: 3px;
      padding-bottom: 5px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
    }

    &-btn {
      display: flex;
      background: #5CA0D7;
      color: #FFF;
    }
  }
}
/*.groups {
  margin-bottom: 10px;
}*/
.groups-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  padding-left: 14px;

  &__item {
    margin-right: 10px;

    &-btn {
      position: relative;
      width: 38px;
      height: 38px;
      background-color: #D1E5F7;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 600;
      color: #254057;
      border: 1px solid transparent;

      &_active {
        background-color: #FFF;
        color: #5CA0D7;
      }

      &_alert {
        border: 1px solid #F5B561;

        &:after {
          position: absolute;
          content: "";
          top: -4px;
          right: -4px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #F5B561;
        }
      }
    }
  }
}
.btn-circle-plus {
  //background: url('../images/plus.svg') no-repeat 0 0;
  background-size: cover;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  padding-top: 5px;
}
.channels-list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 0px 4px 3px;
    margin-right: 11px;
    margin-top: 3px;

    &_alert {
      .alert-count {
        display: flex;
        margin-top: 1px;
      }
      .icon-peoples {
        display: none;
      }
      .channels-list__item-title {
        font-weight: 600;
      }
    }

    &:first-child {
      margin-top: 8px;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      width: 18px;
      height: 18px;
    }

    &-title {
      margin-left: 4px;
      letter-spacing: 0.15px;
    }

    &_active {
      background-color: #FFF;
      border-radius: 6px;
      color: #5CA0D7;
      margin-top: 4px;
    }
  }
}
.alert-count {
  display: none;
  border-radius: 50%;
  background-color: #F5B561;
}
.icon-peoples {
  display: flex;
}
/*.people {
  margin-top: -1px;
  margin-left: -1px;
  letter-spacing: 0.1px;
}*/
.btn-circle-mail {
  //background: url('../images/mail.svg') no-repeat 0 0;
  background-size: cover;
  width: 20px;
  height: 18px;
  text-indent: -9999px;
  padding-top: 5px;
  margin-right: -2px;
}
.people-list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 5px;
    margin-right: 11px;
    letter-spacing: 0.6px;
    margin-top: 3px;

    &:first-child {
      margin-top: 8px;
    }

    &-icon {
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 10.5px;
      width: 18px;
      height: 18px;
      margin-top: 1px;
      margin-left: 0px;
    }

    &-title {
      margin-left: 4px;
    }

    &_alert {
      .alert-count {
        display: flex;
      }
      .people-list__item-title {
        font-weight: 600;
        padding-right: 5px;
        letter-spacing: 0.3px;
      }
    }
  }
}
.icon-users {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
}
.speakers {
  padding-top: 3px;

  &-icon {
    display: block;
    //background: url('../images/speaker.svg') no-repeat 0 0;
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  &-title {
    font-size: 15px;
    margin-left: 8px;
  }
}
