.aside {
  width: 18.4%;
  background-color: #5CA0D7;
  color: #FFF;
  padding: 8px 16px;
  box-shadow: inset -6px 0px 0px 0px rgba(256,256,256,0.35);

  &__item {
    margin-bottom: 28px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #FFF;
      margin-right: 10px;
      padding-right: 3px;
      padding-bottom: 5px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
    }
  }

  &__button-invite {
    margin-top: 3px;
  }
}
