@import '~config';

.attachment {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #fafafa;
  border: solid 1px @border;
  border-radius: @borderRadius;
  padding: 4px 20px 5px 10px;
  width: 220px;
  height: 48px;

  &__icon {
    flex-shrink: 0;
    width: 30px;
    margin-right: 5px;
  }

  &__title {
    display: flex;
    font-size: 15px;
    color: #12202b;
    white-space: nowrap;
    &-name {
       max-width: 120px;
       overflow: hidden;
       text-overflow: ellipsis;
    }
  }
}
