.button-invite {
  display: flex;
  align-items: center;
  background: #5CA0D7;
  color: #FFF;

  &__icon {
    display: block;
    background: url('./assets/speaker.svg') no-repeat 0 0;
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  &__title {
    font-size: 15px;
    margin-left: 8px;
  }
}
